.app {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #182e49;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  width: 250px;
  border-radius: 4px;
  border: none;
}

.dark-toggle {
  color: #fff;
  font-size: 14px;
}

.sidebar {
  width: 147px;
  background-color: #182e49;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 100;
    height: 100%;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

.hamburger-button {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .hamburger-button {
    display: block;
  }
}

.sidebar-image {
  margin-top: 20px;
  width: 100%;
  border-radius: 12px;
}

.sidebar h2 {
  margin-bottom: 10px;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 8px 0;
  cursor: pointer;
  color: #fff;
}

.sidebar li:hover {
  color: #fff;
  text-decoration: underline;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book-card {
  background-color: #f5f5dc;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ccc;
}

.book-card:hover {
  transform: scale(1.03);
}

.book-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.book-card h3 {
  margin: 0;
  font-size: 16px;
}

.book-card p {
  margin: 4px 0;
  font-size: 14px;
  color: #fff;
}

.book-card .genre {
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
}

.book-card small {
  font-size: 12px;
  color: #000;
}

.button-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.buy-button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #e68900;
}
